<div
      class="list-group-item clearfix"
      >
      <div class="pull-left">
        <h4 class="list-group-item-heading">{{ item.details.name }}</h4>
        <p class="list-group-item-text">Price: ${{ item.details.price}}</p>
        <p class="list-group-item-text">Amount Requested: {{ item.amount }}</p>
        <p class="list-group-item-text">Total: ${{ item.details.price * item.amount }}</p>
        <!-- 
        <br>
        <label for="amount">Amount Requested</label>
        <input  type="number" id="amount" class="form-control" min="1" max="{{item.amountLeft}}" [(ngModel)]="amountRequested">
        <br>
        <button class="btn btn-primary" (click)="add(item,amountRequested)">Add</button>
      
    -->
    </div>
          <span class="pull-right">
            <img
              [src]="item.details.imagePath"
              alt="{{ item.details.name }}"
              class="img-responsive"
              style="max-height: 200px;">
          </span> 
    </div>
<br>
